<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">







        <!--    设置dubbo服务应用名称-->
    <dubbo:application name="dubbo-provider"></dubbo:application>
<!--    设置dubbo服务端口-->
<!--    显示指定端口-->
<!--    <dubbo:protocol name="dubbo" port="9007"></dubbo:protocol>-->
<!--    自动分配端口，服务数量过多时，很可能消息设置端口发生冲多-->
    <dubbo:protocol name="dubbo" port="-1" transporter="netty4"></dubbo:protocol>

<!--    发布一个dubbo服务-->
    <bean id="userService" class="cn.wenzhuo4657.dubbo.study.first.service.UserServiceImpl"></bean>
    <dubbo:service interface="cn.wenzhuo4657.dubbo.study.first.service.UserService" ref="userService"></dubbo:service>




</beans>