<configuration scan="true" scanPeriod="60" debug="false">

    <property name="console" value="==\n[%-5level] %red(%d{HH:mm}) Thread:[%thread]  Method:%green(%M) %cyan(%X{traceId})   classpath:%c \n%highlight(return):%m%n"></property>
    <property name="file"  value="[%-5level]  %d{HH:mm} Thread:[%thread]  Method:%M  %X{traceId}   classpath:%c  return: %m%n"></property>

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <statusListener class="ch.qos.logback.core.status.OnFileStatusListener" />

    <shutdownHook/>

    <root level="DEBUG">
        <appender-ref ref="LOGSTASH"/>
        <appender-ref ref="FILE"></appender-ref>
        <appender-ref ref="STDOUT"></appender-ref>
    </root>


    <timestamp key="bySecond" datePattern="yyyy-MM-dd"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log-${bySecond}.txt</file>
        <encoder>
            <pattern>${file}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${console}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>


    <appender name="file"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${file}</pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/rolling-${bySecond}.log</fileNamePattern>
<!--            日志控制，且注意默认配置0，表示不进行限制-->
            <maxHistory>30</maxHistory> <!--       存档数量，该单位取决于滚动的时间单位，如果每天滚动，则保存30天      -->
<!--            控制日志文件的总大小，如果超过10MB，则删除最古老的文件-->
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
    </appender>







<!--    远程日志收集-->
    <appender name="LOGSTASH"  class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>117.72.36.124:9999</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">

<!--            日志输出格式化，json的格式是为了便于logstash接收-->
            <pattern>
                {
                "timestamp": "%d{yyyy-MM-dd HH:mm:ss.SSS}",
                "level": "%level",
                "thread": "%thread",
                "logger": "%logger{36}",
                "message": "%msg"
                }
            </pattern>
        </encoder>
    </appender>





</configuration>